# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment & secrets
.env


# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
*.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.bak

# Build
dist/
build/
